.SongInfoAlbumArt {
  display: block;
  width: 100%;
  height: auto;
  min-height: 250px;
  border-radius: 15px;
}
.SongInfoTrack {
  margin: 1rem 0;
}
.SongInfoTrackName {
  margin: .75rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-primary);
  max-height: 4.75rem;
  overflow: hidden;
}
.SongInfoArtistName {
  margin: .75rem 0;
  font-weight: 300;
  color: var(--player-artist)
}
