.Song {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 200ms ease;
  /* `flex` in MS Edge creates an empty preceding line in a `li` when it contain block element. */
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.Song:first-child {
  flex: 1 1 auto;
}
.Song:hover {
  text-shadow: 0 1px 0 var(--bg-body);
  color: var(--song-active);
}
.SongCurrent {
  composes: Song;
  color: var(--song-active);
}
.SongPlaying {
  composes: SongCurrent;
}
.SongPlaying::before {
  display: inline-block;
  position: absolute;
  left: -0.725rem;
  content: "\25BA";
}
.SongItem {
  text-align: initial;
  padding: .5rem;
  color: var(--song-inactive);
}
