.SearchBar {
  position: sticky;
  top: 0;
}
.SearchBarInput {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--bg-body);
  padding: 0.25rem;
  color: var(--color-primary);
}
.SearchBarLabel {
  position: relative;
}
.SearchBarHelper {
  position: absolute;
  right: 15px;
  padding: .25rem;
  font-size: .75rem;
}
