.SearchBarWrapper {
  position: relative;
  z-index: 100;
  width: calc(100% + 50px);
  margin: 10px -25px;
  transition: all 200ms ease;
}
.SearchBar {
  position: relative;
  width: 100%;
}
.SearchBarIcon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 6px;
  color: var(--color-primary);
  z-index: 1;
}
.SearchBarIcon:hover {
  color: var(--song-active);
}
.SearchBarInput {
  composes: InputText from '../../common/InputText/InputText.css';
  padding-left: 30px;
}
.SearchBarResults {
  display: none;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: var(--bg-body);
  font-size: .75rem;
}
.SearchBar:hover .SearchBarResults {
  display: block;
}
.SearchBarInput:focus + .SearchBarResults {
  display: block;
}
.SearchBarLabel {
  position: relative;
}
.SearchBarHelper {
  position: absolute;
  right: 15px;
  padding: .25rem;
  font-size: .75rem;
}
