.ControlButton {
  background: none;
  border: none;
  color: var(--controls-secondary);
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  transition: all 200ms ease;
}
.ControlButton:hover {
  color: var(--color-primary);
}
.ControlButton:focus {
  outline: 0;
}
.ControlButtonMain {
  composes: ControlButton;
  margin: 0 1.5rem;
  font-size: 2rem;
  color: var(--controls-primary);
}
