.Button {
  background: none;
  border: none;
  color: var(--controls-secondary);
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  transition: all 200ms ease;
}
.Button:hover {
  color: var(--color-primary);
}
.Button:focus {
  outline: 0;
}
.Button-main {
  composes: Button;
  margin: 0 1.5rem;
  font-size: 2rem;
  color: var(--controls-primary);
}
