.Player-wrapper {
  display: flex;
  flex: 1 0 60%;
  align-items: center;
  justify-content: center;
  /* if not set, will be covered by background image */
  z-index: 0;
}

.Player {
  width: 310px;
  text-align: center;
  padding: 30px;
  margin: 1rem 0;
}

.Player-albumArt {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.Player-track {
  margin: 1.5rem 0;
}
.Player-trackName {
  margin: .75rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-primary);
  max-height: 4.75rem;
  overflow: hidden;
}
.Player-artistName {
  margin: .75rem 0;
  font-weight: 300;
  color: var(--player-artist)
}
.Player-time {
  margin: 1.5rem 0;
  font-weight: 300;
  font-size: 1.125rem;
}
