.Player-wrapper {
  display: flex;
  flex: 1 0 60%;
  align-items: center;
  justify-content: center;
}

.Player {
  text-align: center;
  padding: 30px;
}

.Player-albumArt {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
