:root {
  --color-primary: #ffffff;

  --bg-body: #38363d;
  --bg-aside: rgba(30,30,30,0.8);
  --bg-main: #83808d;

  --song-active: #37eb76;
  --song-inactive: #545354;
  --song-primary: var(--color-primary);

  --player-track: var(--color-primary);
  --player-artist: rgba(255,255,255,.5);

  --seekbar-pointer: #9087ae;
  --seekbar-full: #8c84a9;
  --seekbar-empty: #615c78;

  --controls-primary: rgba(255,255,255,0.75);
  --controls-secondary: rgba(255,255,255,0.5);
  --controls-bg: rgba(255,255,255,0.25);
}
